@charset "UTF-8";
/* Common Style */
html {
  font-size: 62.5%;
  color: #524c3e; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-size: 2.4rem; }

p, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #524c3e; }

/* header　ページ共通部分ここから
----------------------------------------*/
header {
  background: #f9f8f6; }
  header #header_in {
    padding: 30px 0 0 0; }
  header #logo {
    padding-bottom: 10px; }
    header #logo img {
      display: block;
      width: 140px;
      margin: 0 auto; }
  header .nav {
    text-align: center; }
  header ul {
    margin-bottom: 0; }
    header ul li {
      display: inline-block;
      margin-right: 10px; }
      header ul li :last-child {
        margin-right: 0; }
      header ul li img {
        width: 24px;
        height: 24px; }
  @media (max-width: 550px) {
    header .nav .pc_nav {
      display: none; }
    header .nav .sp_menu {
      display: none; }
      header .nav .sp_menu li {
        display: block;
        border-bottom: solid 1px #b0b0b0;
        width: 80%;
        margin: 0 auto; } }
  @media (min-width: 550px) {
    header .nav {
      text-align: right; }
      header .nav ul {
        font-weight: bold; }
      header .nav .sp_nav {
        display: none; }
      header .nav .sp_menu {
        display: none; } }

/*header ページ共通部分ここまで
----------------------------------------*/
/* main
----------------------------------------*/
main {
  background: #f9f8f6;
  line-height: 1.2;
  letter-spacing: 0.2rem;
 /* main areaページ共通部分ここから
----------------------------------------*/ }
  main #ca_name {
    padding-bottom: 2%; }
  main #new_item {
    width: 100%;
    display: block;
    background: #f9f8f6; }
    main #new_item .title {
      width: 50%;
      display: block;
      margin: 0 auto;
      padding: 20px 0;
      width: 35%; }
    main #new_item .title_pc {
      display: none;
      padding-top: 2rem; }
    main #new_item .new_item_in {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #new_item .new_item_in .item {
        width: 49%;
        height: auto;
        background: #fff;
        padding: 2% 2% 4%;
        margin-bottom: 2%;
        box-sizing: border-box; }
        main #new_item .new_item_in .item img {
          width: 100%; }
        main #new_item .new_item_in .item p {
          padding-top: 2%;
          padding-bottom: 5%;
          font-size: 12px;
          font-size: 1.2rem; }
        main #new_item .new_item_in .item span {
          letter-spacing: -0.001rem;
          font-size: 12px;
          font-size: 1.2rem; }
  @media (min-width: 550px) {
    main #new_item .title {
      display: none; }
    main #new_item .title_pc {
      display: block;
      padding-bottom: 2rem; }
    main #new_item .new_item_in {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #new_item .new_item_in .item {
        width: 33%;
        background: #fff;
        padding: 2%;
        margin-bottom: 0.5%;
        box-sizing: border-box; }
        main #new_item .new_item_in .item img {
          width: 100%; }
        main #new_item .new_item_in .item p {
          font-size: 10px;
          font-size: 1rem; }
        main #new_item .new_item_in .item span {
          letter-spacing: 0;
          font-size: 10px;
          font-size: 1rem; } }
  main #popular_item {
    width: 100%;
    display: block;
    background: #f9f8f6; }
    main #popular_item .title {
      width: 50%;
      display: block;
      margin: 0 auto;
      padding: 20px 0; }
    main #popular_item .title_pc {
      display: none; }
    main #popular_item .popular_item_in {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #popular_item .popular_item_in .item {
        width: 49%;
        height: auto;
        background: #fff;
        padding: 2%;
        margin-bottom: 2%;
        box-sizing: border-box; }
        main #popular_item .popular_item_in .item img {
          width: 100%; }
        main #popular_item .popular_item_in .item p {
          padding-top: 2%;
          padding-bottom: 5%; }
        main #popular_item .popular_item_in .item span {
          letter-spacing: -0.01rem; }
  @media (min-width: 550px) {
    main #popular_item .title {
      display: none; }
    main #popular_item .title_pc {
      display: block;
      padding: 2rem; }
    main #popular_item .popular_item_in {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #popular_item .popular_item_in .item {
        width: 33%;
        background: #fff;
        padding: 2%;
        margin-bottom: 0.5%;
        box-sizing: border-box; }
        main #popular_item .popular_item_in .item img {
          width: 100%; }
        main #popular_item .popular_item_in .item p {
          font-size: 10px;
          font-size: 1rem; }
        main #popular_item .popular_item_in .item span {
          letter-spacing: 0;
          font-size: 10px;
          font-size: 1rem; } }
  main #shopping_guide {
    width: 100%;
    height: auto;
    display: block;
    background: #f9f8f6;
    letter-spacing: 0;
    margin-bottom: 2rem; }
    main #shopping_guide .title {
      width: 50%;
      display: block;
      margin: 0 auto;
      padding: 20px 0; }
    main #shopping_guide .title_pc {
      display: none; }
    main #shopping_guide h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #887f69;
      padding-bottom: 5px;
      letter-spacing: 0.1rem; }
    main #shopping_guide .shopping_guide_in {
      width: 100%; }
      main #shopping_guide .shopping_guide_in dl {
        line-height: 1.8; }
        main #shopping_guide .shopping_guide_in dl dt {
          color: #887f69;
          font-weight: bold; }
          main #shopping_guide .shopping_guide_in dl dt dd {
            letter-spacing: 0 img; }
      main #shopping_guide .shopping_guide_in .delivery {
        background: #fff;
        padding: 10px;
        margin-bottom: 1rem; }
      main #shopping_guide .shopping_guide_in .payment {
        background: #fff;
        padding: 10px; }
    @media (min-width: 550px) {
      main #shopping_guide .title {
        display: none; }
      main #shopping_guide .title_pc {
        display: block;
        padding: 2rem; }
      main #shopping_guide .shopping_guide_in {
        width: 100%;
        font-size: 14px;
        font-size: 1.4rem; }
        main #shopping_guide .shopping_guide_in .delivery {
          width: 49%;
          height: 230px;
          box-sizing: border-box;
          float: left;
          margin-right: 2%; }
        main #shopping_guide .shopping_guide_in .payment {
          width: 49%;
          height: 230px;
          box-sizing: border-box;
          float: left; } }

 /* main areaページ共通部分ここまで
----------------------------------------*/
 /* sidebarページ共通部分ここまで
----------------------------------------*/
#sidebar {
  background: #f9f8f6; }
  #sidebar #search {
    padding-bottom: 2rem;
    background: #fff;
    margin-bottom: 2rem; }
    #sidebar #search .search_in {
      padding-top: 6%; }
      #sidebar #search .search_in .title {
        display: none; }
      #sidebar #search .search_in #searchform {
        width: 100%;
        margin: 0;
        position: relative; }
        #sidebar #search .search_in #searchform #keywords {
          width: 90%;
          display: block;
          margin: 0 auto;
          background: #eee; }
        #sidebar #search .search_in #searchform #searchBtn {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 30%;
          right: 8%; }
    @media (min-width: 550px) {
      #sidebar #search .search_in .title {
        display: block;
        padding-left: 5%;
        padding-bottom: 0.5rem; }
      #sidebar #search .search_in #searchform {
        width: 100%;
        margin: 0;
        position: relative; }
        #sidebar #search .search_in #searchform #keywords {
          height: 23px;
          display: block;
          margin-left: 5%; }
        #sidebar #search .search_in #searchform #searchBtn {
          width: 13px;
          height: 13px;
          position: absolute;
          top: 15%;
          right: 7%; } }
  #sidebar .link {
    background: #f9f8f6;
    margin-bottom: 1rem; }
    #sidebar .link li {
      margin-bottom: 0.1rem;
      background: #fff;
      padding: 1rem; }
    #sidebar .link .link_in .title_in {
      background: #887f69;
      display: flex;
      justify-content: space-between; }
      #sidebar .link .link_in .title_in .title {
        display: block;
        padding: 1.4rem; }
      #sidebar .link .link_in .title_in .next_icon {
        width: 8px;
        height: 14px;
        background: url("../images/top/next_icon.png") no-repeat;
        display: block;
        padding: 5px;
        margin-top: 12px; }
    #sidebar .link .link_in .active .next_icon {
      width: 14px;
      height: 8px;
      background: url("../images/top/down_icon.png") no-repeat;
      padding: 5px;
      margin-top: 12px; }
    #sidebar .link .link_in .links {
      display: none; }
      #sidebar .link .link_in .links .next_icon_gray {
        display: block;
        background: url("../images/top/next_icon_gray.png") no-repeat right; }
    @media (min-width: 550px) {
      #sidebar .link li {
        font-size: 10px;
        font-size: 1rem; } }
  #sidebar .sub_contents {
    background: #fff;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    #sidebar .sub_contents p {
      font-size: 10px;
      font-size: 1rem; }
    #sidebar .sub_contents .title_in {
      background: #887f69;
      width: 100%;
      margin-bottom: 1rem; }
      #sidebar .sub_contents .title_in .title {
        display: block;
        padding: 1.4rem; }
    #sidebar .sub_contents .about_in {
      padding: 5%; }
      #sidebar .sub_contents .about_in .more {
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-top: 5%; }
    @media (max-width: 550px) {
      #sidebar .sub_contents .about_in {
        padding: 1rem; }
        #sidebar .sub_contents .about_in .float_in .float {
          width: 50%;
          float: left;
          box-sizing: border-box;
          padding-right: 1rem; }
          #sidebar .sub_contents .about_in .float_in .float::last-child {
            padding-right: 0; }
        #sidebar .sub_contents .about_in .float_in p {
          font-size: 1px;
          font-size: 0.1rem;
          letter-spacing: 0.5; }
        #sidebar .sub_contents .about_in .float_in::after {
          content: '';
          display: block;
          clear: both; }
        #sidebar .sub_contents .about_in .more {
          margin-left: 50%;
          width: 30%;
          margin-top: 0; } }

 /* sidebarページ共通部分ここまで
----------------------------------------*/
 /* footerページ共通部分ここから
----------------------------------------*/
footer {
  background: #f9f8f6;
  padding-bottom: 6rem; }
  footer .footer_in {
    text-align: center; }
    footer .footer_in .pgtop_btn {
      padding: 2rem;
      margin: 0 auto; }
    footer .footer_in ul {
      border-top: solid 1px #b0b0b0;
      padding-top: 0.5rem; }
      footer .footer_in ul li {
        font-size: 10px;
        font-size: 1rem;
        display: inline-block; }
    footer .footer_in p {
      font-size: 8px;
      font-size: 0.8rem;
      color: #e2ddd4; }
  @media (min-width: 550px) {
    footer .footer_in .pgtop_btn {
      margin-left: 80%; }
    footer .footer_in ul {
      border-top: solid 1px #b0b0b0;
      padding-top: 0.5rem;
      padding-bottom: 2rem; }
      footer .footer_in ul li {
        font-size: 10px;
        font-size: 1rem;
        display: inline-block; }
    footer .footer_in p {
      font-size: 8px;
      font-size: 0.8rem;
      color: #e2ddd4; } }

 /* footerページ共通部分ここまで
----------------------------------------*/
 /* Productページ
----------------------------------------*/
main .breadcrumb ol {
  letter-spacing: -.4em;
  background: #e2ddd4;
  padding: 2%;
  overflow: auto;
  zoom: 1; }
  main .breadcrumb ol li {
    display: inline-block;
    letter-spacing: normal;
    font-size: 12px;
    font-size: 1.2rem; }
    main .breadcrumb ol li:after {
      content: " / ";
      color: #887f69;
      padding-right: 5px; }
    main .breadcrumb ol li:last-child:after {
      content: none; }
    main .breadcrumb ol li a {
      color: #887f69;
      padding-right: 5px; }
  main .breadcrumb ol .home_icon {
    background: url("../images/list/home_icon.png") no-repeat;
    padding-left: 15px;
    box-sizing: border-box; }
main #product_area #product {
  background: #fff;
  padding: 10% 2% 0; }
  main #product_area #product .product_in {
    padding-bottom: 2%;
    border-bottom: solid 1px #e2ddd4; }
    main #product_area #product .product_in .pro_title_in {
      padding-bottom: 2%;
      border-bottom: solid 1px #e2ddd4;
      margin-bottom: 3%; }
      main #product_area #product .product_in .pro_title_in h2 {
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        padding-bottom: 2%; }
      main #product_area #product .product_in .pro_title_in span {
        color: #b0b0b0; }
    main #product_area #product .product_in .product_img {
      padding-bottom: 2%; }
    main #product_area #product .product_in .list_img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main #product_area #product .product_in .list_img li {
        width: 18%;
        box-sizing: border-box; }
@media (min-width: 550px) {
  main #product_area #product {
    padding-left: 2%; }
    main #product_area #product .pro_title_in {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5%; }
      main #product_area #product .pro_title_in h2 {
        font-size: 16px;
        font-size: 1.6rem; }
      main #product_area #product .pro_title_in span {
        font-size: 12px;
        font-size: 1.2rem; }
    main #product_area #product .pc_product_in {
      display: flex;
      justify-content: space-between; }
      main #product_area #product .pc_product_in .display_img {
        width: 70%;
        box-sizing: border-box;
        padding-right: 2%; }
        main #product_area #product .pc_product_in .display_img img {
          width: 100%; }
      main #product_area #product .pc_product_in .list_img {
        width: 30%;
        box-sizing: border-box; }
        main #product_area #product .pc_product_in .list_img li {
          width: 48%;
          box-sizing: border-box; } }
main #product_area #pro_order {
  background: #fff;
  padding: 3%; }
  main #product_area #pro_order h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #887f69;
    letter-spacing: 0.1rem;
    margin: 4% 0 8% 0; }
  main #product_area #pro_order .cs {
    width: 100%; }
    main #product_area #pro_order .cs table, main #product_area #pro_order .cs td, main #product_area #pro_order .cs th {
      border: solid 1px #e2ddd4;
      text-align: center;
      padding: 3%; }
    main #product_area #pro_order .cs th {
      background: #f9f8f6;
      color: #887f69;
      font-weight: normal; }
    main #product_area #pro_order .cs td {
      background: #fff; }
      main #product_area #pro_order .cs td input {
        margin: 0; }
  main #product_area #pro_order .border {
    border-bottom: solid 1px #e2ddd4; }
  main #product_area #pro_order .align {
    margin: 0;
    padding: 5% 0 5%; }
    main #product_area #pro_order .align li {
      display: inline-block;
      padding-right: 10%; }
      main #product_area #pro_order .align li p {
        font-size: 20px;
        font-size: 2rem;
        color: #9d1a2d;
        font-style: italic; }
        main #product_area #pro_order .align li p span {
          color: #000;
          font-size: 12px;
          font-size: 1.2rem; }
    main #product_area #pro_order .align form {
      width: 0;
      margin: 0; }
      main #product_area #pro_order .align form input {
        margin: 0;
        padding: 0; }
  main #product_area #pro_order .q_style li {
    padding-right: 3%; }
  main #product_area #pro_order .q_style input {
    border-radius: 0; }
  main #product_area #pro_order .or_btn {
    text-align: center;
    margin-top: 5%; }
  @media (min-width: 550px) {
    main #product_area #pro_order .pc_float {
      width: 100%; }
      main #product_area #pro_order .pc_float .pc_float_in {
        float: left;
        display: block;
        width: 50%; }
      main #product_area #pro_order .pc_float .pc_float_in2 {
        float: right;
        display: block;
        width: 50%; }
        main #product_area #pro_order .pc_float .pc_float_in2 .or_btn {
          text-align: right; }
      main #product_area #pro_order .pc_float::after {
        content: "";
        display: block;
        clear: both; } }
main #product_area #pro_desc {
  padding: 2%;
  background: #fff; }
  main #product_area #pro_desc h2 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #887f69;
    border-bottom: solid 1px #887f69;
    padding: 5% 0 5%;
    margin-bottom: 5%; }
  main #product_area #pro_desc h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #887f69;
    padding-bottom: 5%; }
  main #product_area #pro_desc table {
    width: 100%;
    border: solid 1px #e2ddd4;
    font-size: 12px;
    font-size: 1.2rem;
    color: #887f69; }
    main #product_area #pro_desc table th {
      font-weight: normal;
      text-align: center;
      border: solid 1px #e2ddd4;
      background: #f9f8f6;
      width: 30%; }
    main #product_area #pro_desc table td {
      padding: 5%; }
  @media (min-width: 550px) {
    main #product_area #pro_desc table th {
      padding: 1rem; }
    main #product_area #pro_desc table td {
      padding: 0; } }
main #recent_item {
  width: 100%;
  display: block;
  background: #f9f8f6; }
  main #recent_item .title {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 35%; }
  main #recent_item .title_pc {
    display: none;
    padding-top: 2rem; }
  main #recent_item .recent_item_in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main #recent_item .recent_item_in .item {
      width: 49%;
      height: auto;
      background: #fff;
      padding: 2% 2% 4%;
      margin-bottom: 2%;
      box-sizing: border-box; }
      main #recent_item .recent_item_in .item img {
        width: 100%; }
      main #recent_item .recent_item_in .item p {
        padding-top: 2%;
        padding-bottom: 5%;
        font-size: 12px;
        font-size: 1.2rem; }
      main #recent_item .recent_item_in .item span {
        letter-spacing: -0.001rem;
        font-size: 12px;
        font-size: 1.2rem; }
@media (min-width: 550px) {
  main #recent_item .title {
    display: none; }
  main #recent_item .title_pc {
    display: block;
    padding-bottom: 2rem; }
  main #recent_item .recent_item_in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main #recent_item .recent_item_in .item {
      width: 33%;
      background: #fff;
      padding: 2%;
      margin-bottom: 0.5%;
      box-sizing: border-box; }
      main #recent_item .recent_item_in .item img {
        width: 100%; }
      main #recent_item .recent_item_in .item p {
        font-size: 10px;
        font-size: 1rem; }
      main #recent_item .recent_item_in .item span {
        letter-spacing: 0;
        font-size: 10px;
        font-size: 1rem; } }

 /* categoriesページ
----------------------------------------*/
.nextbtn {
  margin-top: 8%;
  display: flex;
  justify-content: space-between; }
  .nextbtn .btn {
    font-size: 14px;
    font-size: 1.4rem;
    width: 100px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5%;
    background: #887f69; }
  @media (min-width: 550px) {
    .nextbtn .btn {
      padding: 2%; } }

/*# sourceMappingURL=style.css.map */
