@charset "utf-8";

/* Common Style */

//font-size

html{
    font-size: 62.5%;
    color:#524c3e;
}

@mixin font-size($size: 24, $base: 10){
    font-size:$size +px;
    font-size:($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$baseGray1 : #f9f8f6 ;
$baseGray2 : #e2ddd4;
$subGray1 : #b0b0b0;
$subGray2 : #887f69;
$red : #9d1a2d;

h1,h2,h3{
    margin:0;
    padding:0;
    @include font-size(24);
}

p,dl,dt,dd,ul,li{
    margin:0;
    padding:0;
    list-style:none;
}

a{
    text-decoration: none;
    color:#524c3e;
}


@mixin title{
    width:50%;
    display:block;
    margin:0 auto;
    padding: 20px 0;
}




/* header　ページ共通部分ここから
----------------------------------------*/
header{
    background: $baseGray1;
    
    #header_in{
    padding:30px 0 0 0;
    }

    #logo{
        padding-bottom: 10px;
        
            img{display: block;
                width:140px;
                 margin:0 auto;
            }
    }
    
    .nav{
        text-align:center;

    }
        
    ul{
        margin-bottom:0;

        li{
           display: inline-block;
           margin-right:10px;
           :last-child{
               margin-right:0;
           }
        
        img{
            width:24px;
            height:24px;
    
            }
        }
    }
    
    
 

    
    @media(max-width:550px){
        .nav{
        
        //sp非表示
        .pc_nav{
            display:none;
         }
         
         .sp_menu{
             display:none;
             li{
                 display:block;
                 border-bottom: solid 1px $subGray1;
                 width: 80%;
                 margin: 0 auto;
                 
             }
         }
         
        }
    }
    
   //pc
    @media(min-width:550px){
        .nav{
            text-align:right;
            
            
            ul{
                font-weight:bold;
                
            }
         //pc非表示  
        .sp_nav{
            display:none;
         }
         .sp_menu{
            display:none;
         }
    
        }
    }
    
}
/*header ページ共通部分ここまで
----------------------------------------*/


/* main
----------------------------------------*/


main{
    background:$baseGray1;
    line-height:1.2;
    letter-spacing:0.2rem;

    
    #ca_name{
        padding-bottom: 2%;
    }
    
    #new_item{
        width:100%;
        display:block;
        background: $baseGray1;
        
            .title{
                @include title;
                width:35%;
            }
            .title_pc{
                display: none;
                padding-top: 2rem;
            }
                .new_item_in{
                   display:flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
               
            
                    .item{
                        width:49%;
                        height:auto;
                        background: #fff ;
                        padding:2% 2% 4%;
                        margin-bottom:2%;
                        box-sizing:border-box;
                
                    img{
                        width: 100%
                    }
                    p{
                        padding-top: 2%;
                        padding-bottom: 5%;
                        @include font-size(12);
                    }

                
                    span{
                        letter-spacing:-0.001rem;
                        @include font-size(12);
                        }
                    }
                }
        }//new_item
    
    //pc
    @media(min-width: 550px){
        #new_item{
            .title{
                display: none;
            }
            .title_pc{
                display:block;
                padding-bottom: 2rem;
            }
            .new_item_in{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
               
            
                .item{
                    width:33%;
                    background: #fff;
                    padding:2%;
                    margin-bottom:0.5%;
                    box-sizing:border-box;
         
                    img{
                        width: 100%
                    }
                        p{
                            @include font-size(10);
                        }
                
                    
                    
                    span{
                        letter-spacing:0;
                        @include font-size(10);
                        
                    }



                 }

            }
        }//pc_new_item
    }//pc
        
    
       #popular_item{
        width:100%;
        display:block;
        background: $baseGray1;
        
        
            .title{
                @include title;
            }
            .title_pc{
                display: none;
            }
                .popular_item_in{
                   display:flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
               
            
                    .item{
                        width:49%;
                        height:auto;
                        background: #fff ;
                        padding:2%;
                        margin-bottom:2%;
                        box-sizing:border-box;
                
                    img{
                        width: 100%
                    }
                    p{
                        padding-top: 2%;
                         padding-bottom: 5%;
                    }
                
                    span{
                        letter-spacing:-0.01rem;
                        }

                    }
                }
        }//popular_item
    
    //pc
    @media(min-width: 550px){
        #popular_item{
            .title{
                display: none;
            }
            .title_pc{
                display: block;
                padding: 2rem;
          }
            .popular_item_in{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
               
            
                .item{
                    width:33%;
                    background: #fff;
                    padding:2%;
                    margin-bottom:0.5%;
                    box-sizing:border-box;
         
                    img{
                        width: 100%
                
                    }
                    p{
                            @include font-size(10);
                         
                        }
                
                    
                    
                    span{
                        letter-spacing:0;
                        @include font-size(10);
                        
                    }




                 }

            }
        }//pc_popular_item
    }//pc
 
 
 /* main areaページ共通部分ここから
----------------------------------------*/
   #shopping_guide{
        width:100%;
        height:auto;
        display:block;
        background: $baseGray1;
        letter-spacing:0;
        margin-bottom:2rem;

          .title{
              @include title;
          }
          .title_pc{
                display: none;
           }

              h3{
                  font-size:1.6rem;
                  font-weight: bold;
                  color:$subGray2;
                  padding-bottom:5px;
                  letter-spacing: 0.1rem;
              }
           .shopping_guide_in{
               width:100%;
               dl{
                   line-height:1.8;
                   
                   dt{
                       color: $subGray2;
                       font-weight: bold;

                           dd{
                             letter-spacing: 0
                             img{
                                 
                                
                             }
                           }
                   }
               }
               .delivery{
                   background: #fff;
                   padding:10px;
                   margin-bottom:1rem;
               }
               .payment{
                   background: #fff;
                   padding:10px;

               }
           }
       
       //pc
    @media(min-width: 550px){
            .title{
                display: none;
            }
            .title_pc{
                display: block;
                padding: 2rem;
           }

        .shopping_guide_in{
               width:100%;
               @include font-size(14);
           
               .delivery{
                   width:49%;
                   height:230px;
                   box-sizing:border-box;
                   float:left;
                   margin-right:2%;

               
               }
               .payment{
                   width:49%;
                   height:230px;
                   box-sizing:border-box;
                   float:left;
                   
                  

               }
           }
        }
   }//shopping_guide
}//main

 /* main areaページ共通部分ここまで
----------------------------------------*/

 /* sidebarページ共通部分ここまで
----------------------------------------*/
#sidebar{
    background:$baseGray1;


       #search{
           padding-bottom:2rem;
           background:#fff;
           margin-bottom: 2rem;

               .search_in{
                     padding-top: 6%;                 
                  .title{
                     display:none;
                  }
                   #searchform{
                       width: 100%;
                       margin: 0;
                       position: relative;
                       #keywords{
                           width:90%;
                           display:block;
                           margin:0 auto;
                           background:#eee;
                       }
                       #searchBtn{
                         width: 16px;
                         height: 16px;
                           position: absolute;
                           top: 30%;
                           right: 8%;
                       }
                   }
               }//search_in
       
    //pc
    @media(min-width: 550px){
        
            .search_in{
               
                .title{
                    display:block;
                   padding-left: 5%;
                   padding-bottom: 0.5rem;
                }
                    #searchform{
                       width: 100%;
                       margin: 0;
                       position: relative;
                       #keywords{
                           height: 23px;
                           display:block;
                           margin-left: 5%;
                           
                       }
                       #searchBtn{
                         width: 13px;
                         height: 13px;
                           position: absolute;
                           top: 15%;
                           right: 7%;
                       }
                   }
            }
        }
            
        
        
           
       
   }//search
   
   .link{
       background: $baseGray1;
       margin-bottom:1rem;
              li{
                 margin-bottom:0.1rem;
                 background:#fff;
                 padding:1rem;
              }
              .link_in{
                      .title_in{
                          background:$subGray2;
                          display:flex;
                          justify-content: space-between;
                               .title{
                                   display:block;
                                   padding:1.4rem;
                               }
                               .next_icon{
                                   width:8px;
                                   height:14px;
                                   background: url('../images/top/next_icon.png') no-repeat;
                                   display: block;
                                   padding:5px;
                                   margin-top:12px;
                                
                               }


                       }//title_in
                       .active .next_icon{                                   width:14px;
                            height:8px;
                            background: url('../images/top/down_icon.png') no-repeat;
                            
                            padding:5px;
                            margin-top:12px;
                                   
                                 }
                       .links{
                           display: none;
                           .next_icon_gray{
                               display:block;
                               background: url('../images/top/next_icon_gray.png') no-repeat right ;
                           }
                       }
              }//.link_in
   //pc
   @media(min-width: 550px){
       li{
         @include font-size(10);  
       }
                  
     }
   
   } 
   

//categories ここまで

    .sub_contents{
        background: #fff;
        padding-bottom: 1rem;
        margin-bottom:1rem;
        
        p{
            @include font-size(10);
        }
        .title_in{
            background:$subGray2;
            width: 100%;
            margin-bottom: 1rem;
             .title{
                 display:block;
                 padding:1.4rem;
               }
        }
        .about_in{
            padding: 5%;
            .more{
                display: block;
                margin:0 auto;
                width: 50%;
                margin-top: 5%;

            }
               }        


        
//sp  
       @media(max-width: 550px){
        .about_in{
            padding:1rem;
            .float_in{
               .float{
                   width:50%;
                   float:left;
                   box-sizing: border-box;
                   padding-right: 1rem;
                   &::last-child{
                       padding-right: 0
                   }
               }
                p{
                       @include font-size(1);
                       letter-spacing:0.5;

                   }
                   &::after{
                       content:'';
                       display: block;
                       clear:both;
                   }
             }
             .more{
                 margin-left: 50%;
                 width: 30%;
                 margin-top: 0;
             }

                  
     }   
           
    }//sp
 }//sub_contents

    
 }//sidebar
 /* sidebarページ共通部分ここまで
----------------------------------------*/

 /* footerページ共通部分ここから
----------------------------------------*/
footer{
    background: $baseGray1;
    padding-bottom: 6rem;
    .footer_in{
        text-align: center;
        .pgtop_btn{
            padding:2rem;
            margin:0 auto;
        }
        
        ul{
            border-top: solid 1px $subGray1;
            padding-top: 0.5rem;
            li{
                @include font-size(10);
                display:inline-block;
            }
        }
        
        p{
            @include font-size(8);
            color: $baseGray2;
        }
    }
    
    //pc
    @media(min-width:550px){
            .footer_in{


        .pgtop_btn{
            margin-left:80%;
            
        }
        
        ul{
            border-top: solid 1px $subGray1;
            padding-top: 0.5rem;
            padding-bottom: 2rem;
            li{
                @include font-size(10);
                display:inline-block;
            }
        }
        
        p{
            @include font-size(8);
            color: $baseGray2;
        }
    }
        
        
    }
}//footer
 /* footerページ共通部分ここまで
----------------------------------------*/    
    
 /* Productページ
----------------------------------------*/    
main{
       
//パンくずリスト共通ここから        
.breadcrumb{
    ol{
        letter-spacing: -.4em;
        background: $baseGray2;
                    padding: 2%;
                    overflow: auto;
                    zoom:1;
        li{
            display: inline-block;
            
            letter-spacing:normal;
            @include font-size(12);
            
            &:after{
                content:" / ";
                color: $subGray2;
                padding-right: 5px;
            }
            
            &:last-child:after{
                content: none;
            }
            a{
            color: $subGray2;
            padding-right:5px;
            }

            
        }
        
    .home_icon{
        background: url('../images/list/home_icon.png') no-repeat;
       
        
        padding-left: 15px;
        box-sizing: border-box;
       
    }

    }
    
}//breadcrumb
//パンくずリストここまで        
        
//product
#product_area{
    #product{
        background: #fff;
        padding: 10% 2% 0;
        

        .product_in{
            padding-bottom: 2%;
            border-bottom: solid 1px $baseGray2;
            
            .pro_title_in{
                padding-bottom: 2%;
                border-bottom: solid 1px $baseGray2;
                margin-bottom: 3%;
                
                h2{
                    @include font-size(18);
                    font-weight: bold;
                        letter-spacing: 0.2rem;
                    padding-bottom: 2%;
                    
                }
                span{
                    color: $subGray1;
                    
                }
            }//product_title_in
            
        .product_img{
            padding-bottom: 2%;
        }
        .list_img{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
             

            li{ 
                width: 18%;
                box-sizing: border-box;
                
                
            }
        }            

        }//product_in
 
    }//#product
    
//pc
 @media(min-width: 550px){
     #product{
         padding-left: 2%;
     
        .pro_title_in{
         display : flex;
         justify-content: space-between;
         margin-bottom: 5%;
               
         h2{
           @include font-size(16);
          }
          span{
              @include font-size(12);
          }
        }
        .pc_product_in{
            display: flex;
            justify-content: space-between;
            
            .display_img{
                width: 70%;
                height: 70%;
                box-sizing: border-box;
                padding-right: 2%;

            }
            .list_img{
                width: 30%;
                box-sizing: border-box;
                
                li{
                    width: 48%;
                    box-sizing: border-box;
                    
                    
                    img{
                        width:92%;
                    }
                }
            }
        }      
                  
            
        }//pc
        
 }
//pro_orderここから
    #pro_order{
        background: #fff;
        padding: 3%;
        h3{
            @include font-size(18);
            font-weight: bold;
            color:$subGray2;
            letter-spacing: 0.1rem;
            margin: 4% 0 8% 0;
        }
        .cs{
            width:100%;
            table,td,th{
                border:solid 1px $baseGray2;
                text-align: center;
                padding: 3%;
                
            }
            

            th{
                background: $baseGray1;
                color: $subGray2;
                font-weight: normal;
            }
            td{
                background: #fff;
                input{
                    margin: 0;
                }
            }
        }
        
        .border{
            border-bottom: solid 1px $baseGray2;
        }
        .align{
            margin: 0;
            padding: 5% 0 5%;
            
            li{
                display: inline-block; 
                padding-right: 10%;
            
            p {
                @include font-size(20);
                color: $red;
                font-style: italic;
                    span{
                        color: #000;
                        @include font-size(12);
                    }
                }
            }
            form{
                width: 0;
                margin: 0;
                input{
                margin: 0;
                padding:0;
                }
            }
        }
        
        .q_style{
            li{
                padding-right: 3%;
            }
            input{
                border-radius: 0;
                

            }
        }
        
        .or_btn{
            text-align:center;
            margin-top:5%;
        }



   //pc
    @media(min-width:550px){
        .pc_float{
            width:100%;

           .pc_float_in{
               float:left;
               display: block;
               width:50%;
 
           }
           .pc_float_in2{
               float:right;
               display: block;
               width:50%;
               .or_btn{
                   text-align: right;
               }
           }
           
           &::after{
               content: "";
               display: block;
               clear: both;
           }
        }

    }//pc
   
    }//#pro_order

        #pro_desc{
            padding: 2%;
            background: #fff;
            h2{
                @include font-size(18);
                font-weight: bold;
                color: $subGray2;
                border-bottom: solid 1px $subGray2;
                padding: 5% 0 5%;
                margin-bottom: 5%;
            }
            h3{
                @include font-size(18);
                font-weight: bold;
                color: $subGray2;
                padding-bottom: 5%;
            }
            
            table{
                width: 100%;
                border:solid 1px $baseGray2;
                @include font-size(12);
                color: $subGray2;
                th{
                    font-weight: normal;
                    text-align: center;
                    border:solid 1px $baseGray2;
                    background: $baseGray1;
                    width: 30%;
                }
                td{
                    padding: 5%;
                    
                    
                    
                }
            }//table
            
        //pc
        @media(min-width:550px){
            table{
                th{
                    padding: 1rem;
                }
                td{
                    padding: 0;
                }
            }
        }
    }//#pro_desc 
}//product_area   

//最近見た商品ここから
    #recent_item{
        width:100%;
        display:block;
        background: $baseGray1;
        
            .title{
                @include title;
                width:35%;
            }
            .title_pc{
                display: none;
                padding-top: 2rem;
            }
                .recent_item_in{
                   display:flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
               
            
                    .item{
                        width:49%;
                        height:auto;
                        background: #fff ;
                        padding:2% 2% 4%;
                        margin-bottom:2%;
                        box-sizing:border-box;
                
                    img{
                        width: 100%
                    }
                    p{
                        padding-top: 2%;
                        padding-bottom: 5%;
                        @include font-size(12);
                    }

                
                    span{
                        
                        letter-spacing:-0.001rem;
                        @include font-size(12);
                        }
                    }
                }
        }//recent_item
        
        //pc
    @media(min-width: 550px){
        #recent_item{
            .title{
                display: none;
            }
            .title_pc{
                display:block;
                padding-bottom: 2rem;
            }
            .recent_item_in{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
               
            
                .item{
                    width:33%;
                    background: #fff;
                    padding:2%;
                    margin-bottom:0.5%;
                    box-sizing:border-box;
         
                    img{
                        width: 100%
                    }
                        p{
                            @include font-size(10);
                        }
                
                    
                    
                    span{
                        letter-spacing:0;
                        @include font-size(10);
                        
                        
                    }



                 }

            }
        }//pc_recent_item
    }//pc
//最近見た商品ここまで

}//main

 /* categoriesページ
----------------------------------------*/    
#ca_area{
    #ca_name{
        .pc{
            display: none;
        }
        
    @media(min-width: 550px){
        .sp{
            display: none;
        }
        .pc{
            display:block;
        }
        }
    }
}

    .nextbtn{
        margin-top: 8%;
        display: flex;
        justify-content: space-between;
        
        .btn{
            
            @include font-size(14);
            width: 100px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            padding:5%;
            background: $subGray2;
        }
        
        @media(min-width:550px){
            .btn{
                padding: 2%;
            }
        }
    
      }
  
